@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif !important;
}
a{
    text-decoration: none;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';

@import 'media/container';
@import 'media/header';
@import 'media/promo';
@import 'media/button';
@import 'media/benefits';
@import 'media/title';
@import 'media/consultation'
