@media (max-width: 1200px) {
    .container {
        max-width: 850px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 630px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 525px;
    }
}
@media (max-width: 575px) {
    .container {
        max-width: 280px;
    }
}