@media (max-width: 1200px) {
    .header {
        &__logo {
            width: 220px;
        }
        &__official {
            font-size: 13px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
}
@media (max-width: 991px) {
    .header {
        &__logo {
            width: 190px;
        }
        &__official {
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 15px;

        }
    }
}
@media (max-width: 767px) {
    .header {
        &__logo {
            img {
                width: 165px;
            }
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 13px;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__logo{
            img {
                width: 150px;
            }
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 12px;
            
        }
    }
}