@media (max-width: 1200px) {
    .title {
        font-size: 28px;
    }
}
@media (max-width: 767px) {
    .title {
        font-size: 26px;
    }
}
@media (max-width: 575px) {
    .title {
        font-size: 18px;
    }
}